@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #0f0f0f;
  --color-border: #27272a;
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-secondary: #71717a;

  --font-sans: Inter, sans-serif;
  --font-mono: JetBrains Mono, monospace;
}
